In [1]:
import pandas as pd
import numpy as np

In [3]:
air=pd.read_csv('airbnb_cleaned.csv')
air.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032,1.0,1,1,28,NaN
3,500,2008-06-26,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024,3.0,1,0,199,NaN
4,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036,3.0,1,39,549,96.0

In [5]:
# Delete the column "Zipcode" with Null for further use in Tableau
airbnb_clean=air.dropna(subset=['Host Since'])
print(airbnb_clean.isnull().sum())

Host Id                          0
Host Since                       0
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8243
Room Type                        0
Zipcode                          0
Beds                             0
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8243
dtype: int64

In [6]:
airbnb_clean.head(15)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
3,500,2008-06-26,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024,3.0,1,0,199,NaN
4,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036,3.0,1,39,549,96.0
5,1039,2008-07-25,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222,1.0,1,4,149,100.0
6,1783,2008-08-12,Amazing Also,Manhattan,Apartment,100.0,Entire home/apt,10004,1.0,1,9,250,100.0
7,2078,2008-08-15,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,90.0,Private room,11201,1.0,1,80,90,94.0
8,2339,2008-08-20,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,90.0,Entire home/apt,10009,2.0,1,95,270,90.0
9,2339,2008-08-20,Lovely 2 Bedroom East Village Nest,Manhattan,Apartment,95.0,Entire home/apt,10009,2.0,1,23,290,96.0
10,2571,2008-08-27,THE PUTNAM,Brooklyn,Apartment,95.0,Entire home/apt,11221,2.0,1,14,170,98.0
11,2758,2008-09-06,Stay at Chez Chic budget room #1,Manhattan,Apartment,90.0,Private room,10026,2.0,1,120,59,93.0
12,2758,2008-09-06,Stay at Chez Chic budget Room #2,Manhattan,Apartment,90.0,Private room,10026,2.0,1,81,49,91.0
13,2787,2008-09-07,Renovated and spacious townhome,Brooklyn,House,NaN,Private room,11223,1.0,1,0,68,NaN
14,2845,2008-09-09,Midtown Castle,Manhattan,Apartment,95.0,Entire home/apt,10018,1.0,1,17,285,97.0
15,2881,2008-09-10,Newly renovated historic brownstone,Brooklyn,Apartment,95.0,Private room,11216,1.0,1,32,75,95.0
16,2965,2008-09-14,Large Bedroom in 3-bedroom Apt.,Manhattan,Apartment,95.0,Private room,10025,1.0,1,52,145,99.0
17,3211,2008-09-25,"Elegant NYC, 10mins to Manhattan!",Queens,Apartment,90.0,Private room,11106,1.0,1,3,100,93.0

In [7]:
# Export this cleaned aibnb data to a CSV file
airbnb_clean.to_csv('airbnb_clean.csv', index=False)