In [1]:
import pandas as pd
import numpy as np

In [2]:
#load Airbnb xlsx
airbnb_df = pd.read_excel("airbnb.xlsx")
airbnb_df.head(20)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaT,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaT,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaT,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,2008-06-26,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
5,1039,2008-07-25,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222.0,1.0,1,4,149,100.0
6,1783,2008-08-12,Amazing Also,Manhattan,Apartment,100.0,Entire home/apt,10004.0,1.0,1,9,250,100.0
7,2078,2008-08-15,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,90.0,Private room,11201.0,1.0,1,80,90,94.0
8,2339,2008-08-20,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,90.0,Entire home/apt,10009.0,2.0,1,95,270,90.0
9,2339,2008-08-20,Lovely 2 Bedroom East Village Nest,Manhattan,Apartment,95.0,Entire home/apt,10009.0,2.0,1,23,290,96.0
10,2571,2008-08-27,THE PUTNAM,Brooklyn,Apartment,95.0,Entire home/apt,11221.0,2.0,1,14,170,98.0
11,2758,2008-09-06,Stay at Chez Chic budget room #1,Manhattan,Apartment,90.0,Private room,10026.0,2.0,1,120,59,93.0
12,2758,2008-09-06,Stay at Chez Chic budget Room #2,Manhattan,Apartment,90.0,Private room,10026.0,2.0,1,81,49,91.0
13,2787,2008-09-07,Renovated and spacious townhome,Brooklyn,House,NaN,Private room,11223.0,1.0,1,0,68,NaN
14,2845,2008-09-09,Midtown Castle,Manhattan,Apartment,95.0,Entire home/apt,10018.0,1.0,1,17,285,97.0
15,2881,2008-09-10,Newly renovated historic brownstone,Brooklyn,Apartment,95.0,Private room,11216.0,1.0,1,32,75,95.0
16,2965,2008-09-14,Large Bedroom in 3-bedroom Apt.,Manhattan,Apartment,95.0,Private room,10025.0,1.0,1,52,145,99.0
17,3211,2008-09-25,"Elegant NYC, 10mins to Manhattan!",Queens,Apartment,90.0,Private room,11106.0,1.0,1,3,100,93.0
18,3227,2008-09-26,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,85.0,Entire home/apt,10001.0,3.0,1,171,150,85.0
19,3226,2008-09-26,Great 3 Bed Apt Tribeca / Soho,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,700,NaN

In [3]:
airbnb_df.columns

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood ', 'Property Type',
       'Review Scores Rating (bin)', 'Room Type', 'Zipcode', 'Beds',
       'Number of Records', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')

In [4]:
airbnb_df.dtypes

Host Id                                int64
Host Since                    datetime64[ns]
Name                                  object
Neighbourhood                         object
Property Type                         object
Review Scores Rating (bin)           float64
Room Type                             object
Zipcode                              float64
Beds                                 float64
Number of Records                      int64
Number Of Reviews                      int64
Price                                  int64
Review Scores Rating                 float64
dtype: object

In [5]:
# Check for null values in each column
print(airbnb_df.isnull().sum())

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8323
Room Type                        0
Zipcode                        134
Beds                            85
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8323
dtype: int64

In [6]:
# Delete the column "Zipcode" with Null for further use in Tableau
Airbnb=airbnb_df.dropna(subset=['Zipcode'])
print(Airbnb.isnull().sum())

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8289
Room Type                        0
Zipcode                          0
Beds                            84
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8289
dtype: int64

In [7]:
# Delete the column "Beds" with no detailed info 
airbnb=Airbnb.dropna(subset=['Beds'])
print(airbnb.isnull().sum())

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8248
Room Type                        0
Zipcode                          0
Beds                             0
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8248
dtype: int64

In [8]:
# Convert column 'Zipcode' from float64 to int
airbnb['Zipcode'] = airbnb['Zipcode'].astype(int)

/var/folders/zv/fr0wdk0579q6_dc92zfqx36w0000gn/T/ipykernel_2312/2637670739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb['Zipcode'] = airbnb['Zipcode'].astype(int)

In [9]:
airbnb['Zipcode']

0        11249
1        11206
2        10032
3        10024
4        10036
         ...
30473    11101
30474    11224
30475    11206
30476    10025
30477    11105
Name: Zipcode, Length: 30260, dtype: int64

In [13]:
# Delete rows with Zipcode with the zipcode are not in New Yord City
airbnb = airbnb[~airbnb['Zipcode'].isin([99135, 94103, 0o1003, 0o7712, 0o7105, 0o7030])]

In [17]:
# Export this cleaned aibnb data to a CSV file
airbnb.to_csv('airbnb_cleaned.csv', index=False)